<div class="dialogo">
    <h1 mat-dialog-title>Agregar nuevo profesor</h1>
    <div class="contenedor">
        <form [formGroup]="formulario">
            <div class="form-group">
                <div class="par">
                    <mat-label>Cédula</mat-label>
                    <input matInput formControlName="cedula" >
                </div>
                <div class="par">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                </div>
            </div>
            <div class="form-group">
                <div class="par">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput formControlName="ap">
                </div>
                <div class="par">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput formControlName="am">
                </div>
            </div>
            <div class="form-group">
                <div class="par">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="tel">
                </div>
                <div class="par">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo">
                </div>
            </div>
            <div class="form-group">
                <div class="par">
                    <mat-label>Especialidad</mat-label>
                    <input matInput formControlName="especialidad">
                </div>
                <div class="par">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput type="date" formControlName="fecha">
                </div>
            </div>
            <div class="form-group">
                <div class="par">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="password" disabled="true">
                </div>
                <div class="par">
                    <mat-label>Rol</mat-label>
                    <input matInput placeholder="Profesor" disabled="true">
                </div>
            </div>
            <div mat-dialog-actions>
                <button mat-button class="Cancelar" (click)="cerrar()">Cancelar</button>
                <button mat-button class="Guardar" type="submit" (click)=" guardar()">Guardar</button>
            </div>
        </form>
    </div>
</div>